@model _5Dots.Models.Category
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            <li><a asp-controller="Shop" asp-action="Index">All</a></li>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <li data-filter=".@category.CategoryName.ToLower()">
                                    <a asp-controller="Shop"
                                       asp-action="Category" asp-route-id="@category.CategoryId">@category.CategoryName</a>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            @foreach (var item in ViewBag.Products)
                            {
                                @if (item.ProductSale > 0)
                                {
                                    <div class="col-lg-4">
                                        <a asp-action="ProductDetails"
                                           asp-route-id="@item.ProductId">
                                        <div class="product__discount__item">
                                            <div class="product__discount__item__pic set-bg"
                                                 data-setbg="img/product/discount/pd-1.jpg">
                                                @{
                                                    string imageBase64 = Convert.ToBase64String(item.Image);
                                                }

                                                <img src="data:image;base64,@imageBase64">
                                                @{
                                                    int sale = (int)item.ProductSale;
                                                }
                                                <div class="product__discount__percent">@sale%</div>
                                            </div>
                                            <div class="product__discount__item__text">
                                              <a asp-action="ProductDetails"
                                           asp-route-id="@item.ProductId">  <span>@item.Category.CategoryName</span>
                                                <h5>
                                                    @item.ProductName
                                                </h5>
                                                @{
                                                    var priceAfterDiscount = item.ProductPrice - (item.ProductPrice *
                                                    item.ProductSale / 100);
                                                }
                                                <div class="product__item__price">
                                                    @priceAfterDiscount JD
                                                    <span> @item.ProductPrice JD</span>
                                                </div>
                                        </a>
                                                </div>
                                        </div></a>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Category</span>
                                <select id="categoryFilter">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6>
                                    <span>
                                        @{
                                            var TotalProducts = (int)(ViewBag.products.Count);
                                        }
                                        @TotalProducts
                                    </span> Products found
                                </h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="productContainer">
                    @foreach (var product in ViewBag.products)
                    {
                        var categoryId = product.CategoryId;
                        if (ViewBag.SelectedCategory == null || categoryId == ViewBag.SelectedCategory)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 @product.Category.CategoryName.ToLower()">
                                <a asp-action="ProductDetails"
                                   asp-route-id="@product.ProductId">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                                        @{
                                            string imageBase64 = Convert.ToBase64String(product.Image);
                                        }

                                        <img src="data:image;base64,@imageBase64">
                                    </div> <a asp-action="ProductDetails"
                                   asp-route-id="@product.ProductId">
                                    <div class="product__item__text">
                                        <h6>
                                           @product.ProductName
                                        </h6>
                                        @if (@product.ProductSale > 0)
                                        {
                                            decimal price = @product.ProductPrice - (@product.ProductPrice *
                                            @product.ProductSale / 100);
                                            <h5>
                                                @price JD<br />
                                                <del style="color:gray; font-weight:300">@product.ProductPrice JD</del>
                                            </h5>
                                        }
                                        else
                                        {
                                            <h5>@product.ProductPrice JD</h5>
                                        }
                                    </div>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Product Section End -->